<%= form_with(model: contum, local: true) do |form| %>
  <% if contum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contum.errors.count, "error") %> prohibited this contum from being saved:</h2>

      <ul>
        <% contum.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao %>
  </div>

  <div class="field">
    <%= form.label :valorconta %>
    <%= form.text_field :valorconta %>
  </div>

  <div class="field">
    <%= form.label :valorrecibo %>
    <%= form.text_field :valorrecibo %>
  </div>

  <div class="field">
    <%= form.label :image_conta %>
    <%= form.text_area :image_conta %>
  </div>

  <div class="field">
    <%= form.label :image_recibo %>
    <%= form.text_area :image_recibo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
