<p id="notice"><%= notice %></p>

<h1>Conta</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Valorconta</th>
      <th>Valorrecibo</th>
      <th>Image conta</th>
      <th>Image recibo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conta.each do |contum| %>
      <tr>
        <td><%= contum.descricao %></td>
        <td><%= contum.valorconta %></td>
        <td><%= contum.valorrecibo %></td>
        <td><%= contum.image_conta %></td>
        <td><%= contum.image_recibo %></td>
        <td><%= link_to 'Show', contum %></td>
        <td><%= link_to 'Edit', edit_contum_path(contum) %></td>
        <td><%= link_to 'Destroy', contum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contum', new_contum_path %>
