<%= form_with(model: fatura, local: true) do |form| %>
  <% if fatura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fatura.errors.count, "error") %> prohibited this fatura from being saved:</h2>

      <ul>
        <% fatura.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
