<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @fatura.descricao %>
</p>

<p>
  <strong>Image data:</strong>
  <%= @fatura.image_data %>
</p>

<%= link_to 'Edit', edit_fatura_path(@fatura) %> |
<%= link_to 'Back', faturas_path %>
