<%= form_with(model: recibo, local: true) do |form| %>
  <% if recibo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recibo.errors.count, "error") %> prohibited this recibo from being saved:</h2>

      <ul>
        <% recibo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class= "field">
    <%= form.label :fatura_id %>
    <%= form.select("fatura_id", Fatura.all.pluck(:descricao, :id), {include_blank: 'Selecione...'})%>
    <%#= form.select("fatura_id", MiningType.all.collect  {|m| [ m.description, m.id ] }, {include_blank: 'Selecione...'}) %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
